<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <udpBinding>
        <binding name="tcp" />
      </udpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.SimulationStateService">
        <endpoint address="soap.udp://127.0.0.1:10007/" binding="udpBinding" name="service" contract="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.ISimulationStateService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4:20020/SimulationStateService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.UnifiedEventLogService">
        <endpoint address="soap.udp://127.0.0.1:10008/" binding="udpBinding" name="service" contract="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.IUnifiedEventLogService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4:20021/UnifiedEventLogService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.ControlService">
        <endpoint address="soap.udp://127.0.0.1:10009/" binding="udpBinding" name="service" contract="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.IControlService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4:20022/ControlService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint address="soap.udp://127.0.0.1:10003/" binding="udpBinding"
        contract="ThrottleService.IThrottleService" name="ThrottleClient" />
      <endpoint address="soap.udp://127.0.0.1:10000/" binding="udpBinding"
        contract="AlarmService.IAlarmService" name="AlarmClient" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
