<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <udpBinding>
        <binding name="udpBinding"/>
      </udpBinding>
    </bindings>
    <services>
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.ControlService">
        <endpoint address="soap.udp://224.0.0.1:10000" binding="udpBinding" bindingConfiguration="udpBinding" name="service" contract="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.IControlService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4/ControlService"/>
          </baseAddresses>
        </host>
      </service>
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.SimulationStateService">
        <endpoint address="soap.udp://224.0.0.1:10001" binding="udpBinding" bindingConfiguration="udpBinding" name="service" contract="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.ISimulationStateService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4/SimulationStateService"/>
          </baseAddresses>
        </host>
      </service>
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.UnifiedEventLogService">
        <endpoint address="soap.udp://224.0.0.1:10002" binding="udpBinding" bindingConfiguration="udpBinding" name="service" contract="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.IUnifiedEventLogService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4/UnifiedEventLogService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
