<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <udpBinding>
        <binding name="udpBinding"/>
      </udpBinding>
    </bindings>
    <services>
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Services.AlarmService">
        <endpoint address="soap.udp://ScottSurface4:10000" binding="udpBinding" bindingConfiguration="udpBinding" name="tcp" contract="ScottPage.RollsRoyce.TestCellSimulator.Services.IAlarmService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4:20010/Alarms"/>
          </baseAddresses>
        </host>
      </service>
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Services.EnginePLCService">
        <endpoint address="soap.udp://ScottSurface4:10001" binding="udpBinding" bindingConfiguration="udpBinding" name="tcp" contract="ScottPage.RollsRoyce.TestCellSimulator.Services.IEnginePLCService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4:20011/EnginePLC"/>
          </baseAddresses>
        </host>
      </service>
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Services.ManagementService">
        <endpoint address="soap.udp://ScottSurface4:10002" binding="udpBinding" bindingConfiguration="udpBinding" name="tcp" contract="ScottPage.RollsRoyce.TestCellSimulator.Services.IManagementService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4:20012/Bookman"/>
          </baseAddresses>
        </host>
      </service>
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Services.ThrottleService">
        <endpoint address="soap.udp://ScottSurface4:10003" binding="udpBinding" bindingConfiguration="udpBinding" name="tcp" contract="ScottPage.RollsRoyce.TestCellSimulator.Services.IThrottleService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4:20013/ThrottleService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
