<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <udpBinding>
        <binding name="udpBinding"/>
      </udpBinding>
    </bindings>
    <client>
      <endpoint address="soap.udp://127.0.0.1:10000/" binding="udpBinding" bindingConfiguration="udpBinding" contract="ControlService.IControlService" name="ControlServiceEndPoint"/>
      <endpoint address="soap.udp://127.0.0.1:10007/" binding="udpBinding" bindingConfiguration="udpBinding" contract="SimulationStateService.ISimulationStateService" name="DriverSimulationStateClient"/>
      <endpoint address="soap.udp://127.0.0.1:10005/" binding="udpBinding" bindingConfiguration="udpBinding" contract="SimulationStateService.ISimulationStateService" name="EnginePLCSimulationStateClient"/>
      <endpoint address="soap.udp://127.0.0.1:10002/" binding="udpBinding" bindingConfiguration="udpBinding" contract="UnifiedEventLogService.IUnifiedEventLogService" name="UnifiedEventLogServiceEndPoint"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
