<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScottPage.RollsRoyce.TestCellSimulator.ManagementDisplay.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <userSettings>
    <ScottPage.RollsRoyce.TestCellSimulator.ManagementDisplay.MySettings>
      <setting name="TestCellName" serializeAs="String">
        <value>Stn-Bed01</value>
      </setting>
      <setting name="EngineTypeName" serializeAs="String">
        <value>TRENTXWB</value>
      </setting>
      <setting name="TestName" serializeAs="String">
        <value>82698</value>
      </setting>
      <setting name="TestStartDate" serializeAs="String">
        <value>05/03/2012 07:47:00</value>
      </setting>
      <setting name="TestDate" serializeAs="String">
        <value>06/14/2012 12:02:00</value>
      </setting>
      <setting name="AvailableTestEngineComments" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>**** ENGINE START ****</string>
            <string>**** ENGINE STOP ****</string>
            <string>On condition GI</string>
            <string>On condition </string>
            <string>On condition XX.X% NL</string>
            <string>On condition XXX.X NLRT120</string>
            <string>Accel to </string>
            <string>Accel to XX.X% NL</string>
            <string>Accel to XXX.X NLRT120</string>
            <string>Decel to GI</string>
            <string>Decel to </string>
            <string>Decel to XX.X% NL</string>
            <string>Decel to XXX.X NLRT120</string>
          </ArrayOfString>
        </value>
      </setting>
    </ScottPage.RollsRoyce.TestCellSimulator.ManagementDisplay.MySettings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <udpBinding>
        <binding name="tcp"/>
      </udpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.UnifiedEventLogService">
        <endpoint address="soap.udp://127.0.0.1:10006/" binding="udpBinding" name="UnifiedEventLogServiceSoapEndPoint" contract="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.IUnifiedEventLogService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4:20031/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.ControlService">
        <endpoint address="soap.udp://127.0.0.1:10011/" binding="udpBinding" name="ControlServiceSoapEndPoint" contract="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.IControlService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4:20032/ControlService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.SimulationStateService">
        <endpoint address="soap.udp://127.0.0.1:10012/" binding="udpBinding" name="SimulationStateServiceSoapEndPoint" contract="ScottPage.RollsRoyce.TestCellSimulator.Displays.Services.ISimulationStateService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4:20030/SimulationStateService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint address="soap.udp://127.0.0.1:10002/" binding="udpBinding" contract="ManagementService.IManagementService" name="ManagementServiceClient"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
