<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SimulatorEntities" connectionString="metadata=res://*/SimulatorModel.csdl|res://*/SimulatorModel.ssdl|res://*/SimulatorModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=PASSWORD;Persist Security Info=True;database=simulator&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings/>
    <services>
      <!-- soap.udp://239.192.0.2:10000/ -->
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Services.AlarmService">
        <endpoint address="soap.udp://127.0.0.1:10000/" binding="udpBinding" bindingConfiguration="" name="DriverAlarmService" contract="ScottPage.RollsRoyce.TestCellSimulator.Services.IAlarmService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4:20000/Alarms"/>
          </baseAddresses>
        </host>
      </service>
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Services.EnginePLCService">
        <endpoint address="soap.udp://127.0.0.1:10001/" binding="udpBinding" bindingConfiguration="" name="EnginePLCService" contract="ScottPage.RollsRoyce.TestCellSimulator.Services.IEnginePLCService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4:20001/EnginePLC"/>
          </baseAddresses>
        </host>
      </service>
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Services.ManagementService">
        <endpoint address="soap.udp://127.0.0.1:10002/" binding="udpBinding" bindingConfiguration="" name="ManagementService" contract="ScottPage.RollsRoyce.TestCellSimulator.Services.IManagementService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4:20002/Bookman"/>
          </baseAddresses>
        </host>
      </service>
      <service name="ScottPage.RollsRoyce.TestCellSimulator.Services.ThrottleService">
        <endpoint address="soap.udp://127.0.0.1:10003/" binding="udpBinding" bindingConfiguration="" name="DriverThrottleService" contract="ScottPage.RollsRoyce.TestCellSimulator.Services.IThrottleService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://ScottSurface4:20003/ThrottleService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint address="soap.udp://127.0.0.1:10004/" binding="udpBinding" contract="ControlService.IControlService" name="EnginePLCControlServiceClient"/>
      <endpoint address="soap.udp://127.0.0.1:10005/" binding="udpBinding" contract="SimulationStateService.ISimulationStateService" name="EnginePLCSimulationStateClient"/>
      <endpoint address="soap.udp://127.0.0.1:10006/" binding="udpBinding" contract="UnifiedEventLogService.IUnifiedEventLogService" name="UnifiedEventLogService"/>
      <endpoint address="soap.udp://127.0.0.1:10009/" binding="udpBinding" contract="ControlService.IControlService" name="DriverControlServiceClient"/>
      <endpoint address="soap.udp://127.0.0.1:10011/" binding="udpBinding" contract="ControlService.IControlService" name="ManagementControlServiceClient"/>
      <endpoint address="soap.udp://127.0.0.1:10007/" binding="udpBinding" contract="SimulationStateService.ISimulationStateService" name="DriverSimulationStateClient"/>
      <endpoint address="soap.udp://127.0.0.1:10012/" binding="udpBinding" contract="SimulationStateService.ISimulationStateService" name="ManagementSimulationStateClient"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
